In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
df = pd.read_csv("../data/crime-trends-and-operations-of-criminal-justice-systems-un-cts-csv-1.csv")

In [3]:
display(df.head(5))

  country/territory  date  sexual violence      rate
0           Albania  2003              NaN       NaN
1           Albania  2004              NaN       NaN
2           Albania  2005             89.0  2.832771
3           Albania  2006             87.0  2.756124
4           Albania  2007            101.0  3.186457